<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Column Width</key>
	<dict>
		<key>CPU</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>368</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Cache</key>
		<dict>
			<key>AutomaticTableColumnIdentifier.0</key>
			<real>640</real>
			<key>AutomaticTableColumnIdentifier.1</key>
			<real>100</real>
			<key>AutomaticTableColumnIdentifier.2</key>
			<real>100</real>
			<key>AutomaticTableColumnIdentifier.3</key>
			<real>100</real>
			<key>AutomaticTableColumnIdentifier.4</key>
			<real>142.5</real>
		</dict>
		<key>Disk</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>721</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Memory</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>535</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Network</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>283</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Power</key>
		<dict>
			<key>12HRPower</key>
			<real>117</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>498</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>150</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
	</dict>
	<key>IIO_LaunchInfo</key>
	<real>0.22217404842376709</real>
	<key>IconType</key>
	<integer>2</integer>
	<key>NSTableView Columns v3 cacheTableColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAVCwwWISIjJCUmJy03ODlD
	RE5PWVpbVSRudWxs0g0ODxVaTlMub2JqZWN0c1YkY2xhc3OlEBESExSAAoAKgA2AD4AR
	gBTTFw0OGBwgV05TLmtleXOjGRobgAOABIAFox0eH4AGgAeACIAJWklkZW50aWZpZXJV
	V2lkdGhWSGlkZGVuXxAgQXV0b21hdGljVGFibGVDb2x1bW5JZGVudGlmaWVyLjAjQIQA
	AAAAAAAI0igpKitaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiKixYTlNP
	YmplY3TTFw0OLjIgoxkaG4ADgASABaMzNB+AC4AMgAiACV8QIEF1dG9tYXRpY1RhYmxl
	Q29sdW1uSWRlbnRpZmllci4xI0BZAAAAAAAA0xcNDjo+IKMZGhuAA4AEgAWjPzQfgA6A
	DIAIgAlfECBBdXRvbWF0aWNUYWJsZUNvbHVtbklkZW50aWZpZXIuMtMXDQ5FSSCjGRob
	gAOABIAFo0o0H4AQgAyACIAJXxAgQXV0b21hdGljVGFibGVDb2x1bW5JZGVudGlmaWVy
	LjPTFw0OUFQgoxkaG4ADgASABaNVVh+AEoATgAiACV8QIEF1dG9tYXRpY1RhYmxlQ29s
	dW1uSWRlbnRpZmllci40I0Bh0AAAAAAA0igpXF1eTlNNdXRhYmxlQXJyYXmjXF4sV05T
	QXJyYXkACAARABoAJAApADIANwBJAEwAUgBUAGwAcgB3AIIAiQCPAJEAkwCVAJcAmQCb
	AKIAqgCuALAAsgC0ALgAugC8AL4AwADLANEA2AD7AQQBBQEKARUBHgErAS4BNwE+AUIB
	RAFGAUgBTAFOAVABUgFUAXcBgAGHAYsBjQGPAZEBlQGXAZkBmwGdAcABxwHLAc0BzwHR
	AdUB1wHZAdsB3QIAAgcCCwINAg8CEQIVAhcCGQIbAh0CQAJJAk4CXQJhAAAAAAAAAgEA
	AAAAAAAAXwAAAAAAAAAAAAAAAAAAAmk=
	</data>
	<key>NSTableView Sort Ordering v2 cacheTableColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqwsMExwdHh8gJi4vVSRudWxs
	0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAIgArTFA0OFRgbV05TLmtleXOiFheA
	A4AEohkagAWABoAHWklkZW50aWZpZXJZQXNjZW5kaW5nXxAgQXV0b21hdGljVGFibGVD
	b2x1bW5JZGVudGlmaWVyLjQI0iEiIyRaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rp
	b25hcnmiIyVYTlNPYmplY3TTFA0OJyobohYXgAOABKIrGoAJgAaAB18QIEF1dG9tYXRp
	Y1RhYmxlQ29sdW1uSWRlbnRpZmllci4z0iEiMDFeTlNNdXRhYmxlQXJyYXmjMDIlV05T
	QXJyYXkACAARABoAJAApADIANwBJAEwAUgBUAGAAZgBrAHYAfQCAAIIAhACGAI0AlQCY
	AJoAnACfAKEAowClALAAugDdAN4A4wDuAPcBBAEHARABFwEaARwBHgEhASMBJQEnAUoB
	TwFeAWIAAAAAAAACAQAAAAAAAAAzAAAAAAAAAAAAAAAAAAABag==
	</data>
	<key>NSTableView Supports v2 cacheTableColumns</key>
	<true/>
	<key>NSWindow Frame ProcessInspector</key>
	<string>401 384 560 421 0 0 1728 1084 </string>
	<key>NSWindow Frame main window</key>
	<string>37 94 1362 766 0 0 1496 938 </string>
	<key>NetworkGraphType</key>
	<integer>1</integer>
	<key>OpenMainWindow</key>
	<true/>
	<key>SelectedTab</key>
	<integer>0</integer>
	<key>ShowCategory</key>
	<integer>100</integer>
	<key>ShowCategoryAppsinLast12Hours</key>
	<true/>
	<key>UserColumnSortPerTab</key>
	<dict>
		<key>0</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>Command</string>
		</dict>
		<key>1</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>anonymousMemory</string>
		</dict>
		<key>2</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>PowerScore</string>
		</dict>
		<key>3</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>bytesWritten</string>
		</dict>
		<key>4</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>rxBytes</string>
		</dict>
		<key>5</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>Name</string>
		</dict>
		<key>6</key>
		<dict>
			<key>direction</key>
			<integer>0</integer>
			<key>sort</key>
			<string>GPUUsage</string>
		</dict>
	</dict>
	<key>UserColumnsPerTab v6.0</key>
	<dict>
		<key>0</key>
		<array>
			<string>Command</string>
			<string>Architecture</string>
			<string>CPUUsage</string>
			<string>CPUTime</string>
			<string>Threads</string>
			<string>IdleWakeUps</string>
			<string>GPUUsage</string>
			<string>GPUTime</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>1</key>
		<array>
			<string>Command</string>
			<string>anonymousMemory</string>
			<string>Threads</string>
			<string>Ports</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>2</key>
		<array>
			<string>Command</string>
			<string>PowerScore</string>
			<string>12HRPower</string>
			<string>AppSleep</string>
			<string>graphicCard</string>
			<string>powerAssertion</string>
			<string>UID</string>
		</array>
		<key>3</key>
		<array>
			<string>Command</string>
			<string>bytesWritten</string>
			<string>bytesRead</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>4</key>
		<array>
			<string>Command</string>
			<string>txBytes</string>
			<string>rxBytes</string>
			<string>txPackets</string>
			<string>rxPackets</string>
			<string>PID</string>
			<string>UID</string>
		</array>
		<key>5</key>
		<array>
			<string>Name</string>
			<string>LastHour</string>
			<string>LastDay</string>
			<string>LastWeek</string>
			<string>LastMonth</string>
		</array>
		<key>6</key>
		<array>
			<string>Command</string>
			<string>GPUUsage</string>
			<string>GPUTime</string>
			<string>PID</string>
			<string>UID</string>
		</array>
	</dict>
	<key>cacheTableSortDescriptors</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSHB0eJFUkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG1RMOFBUWFxgZGRtaTlNTZWxlY3Rvcl8QEk5T
	UmV2ZXJzZU51bGxPcmRlcltOU0FzY2VuZGluZ1VOU0tleYAEgAUICIADXWxhc3RXZWVr
	Qnl0ZXNYY29tcGFyZTrSHyAhIlokY2xhc3NuYW1lWCRjbGFzc2VzXxAQTlNTb3J0RGVz
	Y3JpcHRvcqIhI1hOU09iamVjdNIfICUmV05TQXJyYXmiJSMACAARABoAJAApADIANwBJ
	AEwAUQBTAFsAYQBmAHEAeAB6AHwAfgCJAJQAqQC1ALsAvQC/AMAAwQDDANEA2gDfAOoA
	8wEGAQkBEgEXAR8AAAAAAAACAQAAAAAAAAAnAAAAAAAAAAAAAAAAAAABIg==
	</data>
</dict>
</plist>
