<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACDMonthlyAnalyticsLastPosted</key>
	<real>789991239.525087</real>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>sk_DE</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleKeyboardUIMode</key>
	<integer>1</integer>
	<key>AppleLanguages</key>
	<array>
		<string>sk</string>
		<string>en</string>
		<string>cs</string>
		<string>de</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>de_DE@currency=EUR</string>
	<key>AppleMeasurementUnits</key>
	<string>Centimeters</string>
	<key>AppleMetricUnits</key>
	<true/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePerAppLanguageSelectionBundleIdentifiers</key>
	<array>
		<string>com.parallels.desktop.console</string>
	</array>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollerPagingBehavior</key>
	<false/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Always</string>
	<key>InitialKeyRepeat</key>
	<integer>15</integer>
	<key>KB_DoubleQuoteOption</key>
	<string>„abc“</string>
	<key>KB_SingleQuoteOption</key>
	<string>‚abc‘</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSDocumentSaveNewDocumentsToCloud</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2026-01-19T07:36:26Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>sk</string>
		<string>sk_DE</string>
		<string>cs</string>
		<string>cs_DE</string>
		<string>en</string>
		<string>en_US</string>
		<string>de</string>
		<string>de_DE</string>
		<string>en_DE</string>
		<string>mul</string>
		<string>mul_Latn</string>
		<string>pl</string>
		<string>hu</string>
		<string>fr</string>
		<string>fi</string>
		<string>tr</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>cs</string>
		<string>pl</string>
		<string>hu</string>
		<string>fr</string>
		<string>fi</string>
		<string>tr</string>
	</array>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSNavPanelExpandedStateForSaveMode2</key>
	<true/>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>1</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>DuckDuckGo</string>
			<key>NSProviderIdentifier</key>
			<string>com.duckduckgo</string>
		</dict>
	</dict>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSpellCheckerContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:shift</string>
			<key>with</key>
			<string>⇧</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:return</string>
			<key>with</key>
			<string>⏎</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:option</string>
			<key>with</key>
			<string>⌥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:eject</string>
			<key>with</key>
			<string>⏏</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:control</string>
			<key>with</key>
			<string>⌃</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:cmmd</string>
			<key>with</key>
			<string>⌘</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:left</string>
			<key>with</key>
			<string>←</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:down</string>
			<key>with</key>
			<string>↓</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:right</string>
			<key>with</key>
			<string>→</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:tilde</string>
			<key>with</key>
			<string>~
TILDE
Unicode: U+007E, UTF-8: 7E</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>smm</string>
			<key>with</key>
			<string>services@martin-mitka.eu</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>bmm</string>
			<key>with</key>
			<string>bewerbung@martin-mitka.eu</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>up</string>
			<key>with</key>
			<string>↑</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>Deletefwd</string>
			<key>with</key>
			<string>⌦</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mmse</string>
			<key>with</key>
			<string>services@martin-mitka.eu</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>kgl</string>
			<key>with</key>
			<string>kennnegelernt</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ha</string>
			<key>with</key>
			<string>Hausaufgabe</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>@martin-mitka.eu</string>
			<key>with</key>
			<string>mme</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>CPT</string>
			<key>with</key>
			<string>Cisco Packet Tracer</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>afa</string>
			<key>with</key>
			<string>Agentur für Arbeit</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>gc</string>
			<key>with</key>
			<string>Geocaching</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>rhrn</string>
			<key>with</key>
			<string>Ehrlich gesagt: Right here! Right now! Vielleicht dann auch F/F+</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ZW</string>
			<key>with</key>
			<string> Zdroj: Wikipedia</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>QW</string>
			<key>with</key>
			<string>Quelle: Wikipedia</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mgg</string>
			<key>with</key>
			<string>milan.galanzar@gmail.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mg</string>
			<key>with</key>
			<string>milan.galanzar@icloud.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>zme</string>
			<key>with</key>
			<string>že</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>vlg</string>
			<key>with</key>
			<string>Viele liebe Grüße!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mmm</string>
			<key>with</key>
			<string>martin.mitka@icloud.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>aap</string>
			<key>with</key>
			<string></string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ic</string>
			<key>with</key>
			<string>icloud</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mmg</string>
			<key>with</key>
			<string>martin.mitka@gmail.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>tt</string>
			<key>with</key>
			<string>juno16@tutanota.com</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>má</string>
			<key>with</key>
			<string>ma</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>snc</string>
			<key>with</key>
			<string>Som na ceste!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>SGK</string>
			<key>with</key>
			<string>Sehr geehrte Kolleginnen und Kollegen,</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>yt</string>
			<key>with</key>
			<string>Youtube</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mmch</string>
			<key>with</key>
			<string>Mimochodom</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>btw</string>
			<key>with</key>
			<string>By the way</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>fb</string>
			<key>with</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>MFG</string>
			<key>with</key>
			<string>Mit freundlichen Grüßen</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>IBU</string>
			<key>with</key>
			<string>Ich bin unterwegs.</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>DFIV</string>
			<key>with</key>
			<string>Danke für Ihr Verständnis</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>DIV</string>
			<key>with</key>
			<string>Danke im Voraus</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>SGH</string>
			<key>with</key>
			<string>Sehr geehrter Herr</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>MHG</string>
			<key>with</key>
			<string>Mit Herzlichen Grüßen</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>SGF</string>
			<key>with</key>
			<string>Sehr geehrte Frau</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>SG</string>
			<key>with</key>
			<string>Sehr geehrte Damen und Herren</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>mfg</string>
			<key>with</key>
			<string>Mit freundlichen Grüßen</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>„</string>
		<string>“</string>
		<string>‚</string>
		<string>‘</string>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>PMPrintingExpandedStateForPrint</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.adobe.acc.anc.AdobeCreativeCloud.AdobeContextMenuExtension</key>
			<false/>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<true/>
			<key>com.alienator88.Pearcleaner.FinderOpen</key>
			<false/>
			<key>com.alienator88.Sentinel</key>
			<false/>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<false/>
			<key>com.eltima.cloudmounter.mas.CMFinderSync</key>
			<false/>
			<key>com.nextcloud.desktopclient.FinderSyncExt</key>
			<true/>
			<key>com.stclairsoft.DefaultFolderX5.DrawerButtonExtension</key>
			<true/>
			<key>com.stclairsoft.DefaultFolderX5.MenuButtonExtension</key>
			<true/>
			<key>org.sbarex.MediaInfo.Finder-Extension</key>
			<false/>
			<key>wang.jianing.app.OpenInTerminal.OpenInTerminalFinderExtension</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.adobe.acc.anc.AdobeCreativeCloud.AdobeContextMenuExtension</key>
			<array>
				<string>file:///</string>
				<string>file:///System/Volumes/iSCPreboot/</string>
				<string>file:///System/Volumes/Hardware/</string>
				<string>file:///System/Volumes/Update/</string>
				<string>file:///System/Volumes/Preboot/</string>
				<string>file:///System/Volumes/VM/</string>
				<string>file:///System/Volumes/Data/home/</string>
				<string>file:///System/Volumes/xarts/</string>
			</array>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<array/>
			<key>com.alienator88.Pearcleaner.FinderOpen</key>
			<array>
				<string>file:///</string>
			</array>
			<key>com.alienator88.Sentinel</key>
			<array>
				<string>file:///</string>
			</array>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<array>
				<string>file:///Users/martin/Music/</string>
				<string>file:///Users/martin/Pictures/</string>
				<string>file:///Users/martin/Downloads/</string>
				<string>file:///Users/martin/Movies/</string>
				<string>file:///Users/martin/Public/</string>
				<string>file:///Users/martin/Documents/</string>
				<string>file:///Users/martin/Desktop/</string>
				<string>file:///Volumes/Schulung/</string>
			</array>
			<key>com.eltima.cloudmounter.mas.CMFinderSync</key>
			<array/>
			<key>com.nextcloud.desktopclient.FinderSyncExt</key>
			<array/>
			<key>com.stclairsoft.DefaultFolderX5.DrawerButtonExtension</key>
			<array/>
			<key>com.stclairsoft.DefaultFolderX5.MenuButtonExtension</key>
			<array/>
			<key>org.sbarex.MediaInfo.Finder-Extension</key>
			<array>
				<string>file:///</string>
				<string>file:///Volumes/Schulung/</string>
				<string>file:///Volumes/schulung-1/</string>
			</array>
			<key>wang.jianing.app.OpenInTerminal.OpenInTerminalFinderExtension</key>
			<array>
				<string>file:///</string>
				<string>file:///Volumes/Schulung/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.keyboard.fnState</key>
	<false/>
	<key>com.apple.mouse.tapBehavior</key>
	<integer>1</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.device.threshold</key>
	<integer>36534198</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.swipescrolldirection</key>
	<false/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
</dict>
</plist>
